@model EvaluationWebApplication.Models.ViewModels.TimeEntryViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>TimeEntry</h2>

<div>
    @*<h4>TimeEntryViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>*@
</div>
<div>
    @await Html.PartialAsync("_RetriveTimeView.cshtml", Model)
</div>
<div>
   @* @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |*@
    @await Html.PartialAsync("_TimeEntriesView", Model.TimeEntries)
    
</div>
<div>
    @await Html.PartialAsync("_CreateTimeEntryView",Model.CreateTimeEntry)  @*new EvaluationWebApplication.Models.CFT.TimeEntry() { EmployeeID = Model.Employee.EmployeeID })*@
</div>